@import url('screen.css');

html {
    text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.firstscreen {
    background-image: url("space.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1em;
    background-size: cover;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em;
    margin-bottom: 3em;
    flex-wrap: wrap;
}

.avatar {
    border-radius: 0.5em;
}

blockquote {
    margin-top: -1em;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fafafa;
    border-radius: 0.5em;
    opacity: 0.7;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 7.5px;
    padding-right: 0;
    height: 70px;
    width: 320px;
    position: relative;
}

    blockquote::after {
        content: '';
        background-image: url(images/tri.png);
        display: block;
        color: red;
    }

h1 {
    margin: 0;
    opacity: 1;
    margin-bottom: 0;
    color: #292a2b;
}

.description {
    opacity: 1;
    color: #292a2b;
    margin: 0;
    padding-left: 3px;
}

.portfolio {
    display: flex;
    flex-direction: row;
    margin-top: 0.8em;
    justify-content: center;
    align-content: center;
    margin: -1em;
    background-color: rgba(0, 0, 0, 0.7);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    min-width: 100%;
}

li {
    display: flex;
    flex-direction: row;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 3em;
    margin-right: 3em;
}

.projects {
    border-radius: 0.5em;
}

article {
    background-color: #041633;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    min-height: 50px;
    width: 1020px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 2px solid #afb5bf;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 3em;
}

.blogtext {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin-bottom: 3em;
    padding-left: 20px;
    position: relative;
    border: 2px solid #afb5bf;
    border-top: 0px;
}

.blogtitle {
    display: flex;
}

time {
    padding-top: 1.3em;
    padding-left: 1em;
}

.more {
    background-color: hsl(200, 80%, 75%);
    padding: 10px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: -20px;
    border: 1px solid hsl(200, 60%, 50%);
    border-radius: 4px;
}

    .more:link,
    .more:visited {
        color: white;
        text-decoration: none;
    }
/*Why won't these ^ hug the left side?*/

* {
    /*border: 1px solid red;*/
}
